body{
}
table{
    margin-top:30px;
    margin-left: 15%;
    margin-right: 15%;
    width:70%;
    height:auto;
    /*border:2px rebeccapurple;*/
    border-radius: 3px;
}
tr{
    height: 35px;
}
th{
    background-color: rgb(97, 164, 190);
    text-align: center;
}
td{
    text-align: center;
}