<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
        只需要配置FactoryBean即可
        真正交给IOC容器管理的对象，是FactoryBean工厂中getObject方法返回的对象
    -->
    <bean class="com.zylai.spring.factory.UserFactoryBean"></bean>
</beans>