<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--上面的是约束，规定了在配置文件中可以使用什么样的标签-->
<!--    在目前的项目中，配置文件的名称可以随便设置，但是在后面就需要指定的名称-->

    <!--
        bean：配置一个bean对象，将对象交给IOC容器管理
        属性：
        id：bean的唯一标识，不能重复
        class：设置bean对象所对应的类型
    -->
    <bean id="helloWorld" class="com.zylai.spring.pojo.HelloWorld"></bean>
</beans>